.box {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px 30px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px #bbbbbb;
}

form {
  text-align: start;
  padding-left: 30px;
}

.item_input {
  width: 425px;
  padding: 10px;
}

.item_textarea {
  width: 425px;
  padding: 10px;
}

.item_upload {
  width: 405px;
  padding: 10px;
}

.variant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 100px;
  padding: 10px;
  margin: 10px 0;
}

.stock {
  width: 100px;
  height: 37px;
  padding: 0 10px;
}

.image_box {
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
}

.btn {
  height: 70px;
  width: 450px;
  color: #ffffff;
  margin-top: 30px;
  background-color: gray;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: large;
}

.btn:hover {
  color: #ffffff;
  background-color: black;
  cursor: pointer;
}