@import "./common.css";

main {
  min-height: calc(100vh - 20rem);
}

.main {
  height: 10px;
}

#response, #order {
  text-align: center;
  text-justify: center;
  font-size: 2em;
  font-family: "Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
  color: #979797;
}